/* ==========================================================================
 Color
========================================================================== */
html {
	--color-pink: #ab579f;
	--color-pink-light: #de86d0;
	--color-pink-dark: #7a2870;
	--color-gray: #b2a7a8;
	--color-gray-light: #e4d8d9;
	--color-gray-dark: #827879;
	--color-text: #0c0ca0;
	--color-text-second: #6464c2;
	--color-text-disabled: #a6a6dc;
}


/* ==========================================================================
 Typography
========================================================================== */
html {
	color: var(--color-text);
	--font-primary: 'Assistant', Arial, sans-serif;
	--font-secondary: 'Bitter', Arial, sans-serif;
	
	--size-ratio: 1.2;
	--size-six-up: calc( var(--size-five-up) * var(--size-ratio) );
	--size-five-up: calc( var(--size-four-up) * var(--size-ratio) );
	--size-four-up: calc( var(--size-three-up) * var(--size-ratio) );
	--size-three-up: calc( var(--size-two-up) * var(--size-ratio) );
	--size-two-up: calc( var(--size-one-up) * var(--size-ratio) );
	--size-one-up: calc( 1rem * var(--size-ratio) );
	--size-one-down: calc( 1rem / var(--size-ratio) );

	line-height: 1.3;
}

h6 {
	font-size: var(--size-one-up);
}

h5 {
	font-size: var(--size-two-up);
}

h4 {
	font-size: var(--size-three-up);
}

h3 {
	font-size: var(--size-four-up);
	padding-top: 1rem;

}

h2 {
	font-size: var(--size-five-up);
}

h1 {
	font-size: var(--size-six-up);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0 0.5rem;
 }

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
	color: var(--color-gray-dark);
	font-family: var(--font-primary);
	font-style: normal;
}

/* ==========================================================================
 Header Component
========================================================================== */
header {
	background-color: var(--color-pink-light);
	font-family: var(--font-secondary);
	padding: 1.5rem;
}

header li {
	display: inline-block;
}

header a {
	color: #f9faff;
	padding: 0 10px;
	text-decoration: none;
}

.header-logo {
	color: var(--color-light-gray);
	font-size: var(--size-five-up);
	font-style: italic;
}

header a:hover {
	color: black;
}

header a:active {
	color: green;
}

header ul {
	padding: 0;
}

header nav {
	padding-top: 10px;
}

/* ==========================================================================
 Footer Component
========================================================================== */
footer {
	background-color: var(--color-gray-light);
	font-family: var(--font-secondary);
	font-size: var(--size-one-down);
	margin-top: 3rem;
	padding: 1rem;
}

footer li {
	display: inline-block;
}

footer ul {
	padding-left: 0;
}

footer a {
	padding: 0 10px;
	text-decoration: none;
}

footer a:hover {
	color: black;
}

 footer a:active {
	color: green;
}

/* ==========================================================================
 Body Component
========================================================================== */
body {
	font-family: var(--font-primary);
	margin-top: 0;
}

main {
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 62rem;
}

/* ==========================================================================
 Example
========================================================================== */
.color-swatch {
	padding: 0 1.5rem;
}

.primary-font-exp {
	background-color: var(--color-pink-light);
	font-family: var(--font-primary);
	padding: 1px;
}

.secondary-font {
	display: inline;
	font-family: var(--font-secondary);
	padding-left: 3px;
}

.secondary-font-exp {
	background-color: var(--color-pink-light);
	font-family: var(--font-secondary);
	padding: 1px;
}

.heading-list p {
	font-size: var(--size-two-up);
	margin: 0;
}

.feature-text {
	margin-left: 2rem;
	font-size: var(--size-three-up);
}

.style-bodytext p {
	margin-left: 2rem;
}

.style-tertiary {
	font-size: var(--size-one-down);
}

.style-list {
	list-style-position: inside;
}

.hero-button {
	background-color: #879979;
	border-radius: 1rem;
	box-shadow: 0 1px 5px #cfcecd;
	color: #ffe8e4;
	display: inline-block;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	text-decoration: none;
}

.hero-button:hover {
	background-color: #515b48;
}

.hero-button:active {
	background-color: #9fad93;
}

.normal-button {
	background-color: #a3d5d7;
	border-radius: 1rem;
	box-shadow: 0 1px 5px #cfcecd;
	color: #2b243c;
	display: inline-block;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	text-decoration: none;
}

.normal-button:hover {
	background-color: #82aaac;
	color: white;
}

.normal-button:active {
	background-color: #92bfc1;
	color: white;
}

.tertiary-buton {
	border: 2px solid #161f25;
	border-radius: 1rem;
	box-shadow: 0 1px 5px #cfcecd;
	display: inline-block;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	text-decoration: none;
}

.tertiary-buton:hover {
	background-color: #b9ae93;
	color: black;
}

.tertiary-buton:active {
	background-color: #cecb93;
}

summary {
	border-bottom: 2px solid #a98d49;
	padding: 0.5rem;
}

.detail{
	padding-left: 1.5rem;
}
summary {
     list-style-image: url(arrowright.svg);
}

summary::-webkit-details-marker {
     background: url(arrowright.svg);
     color: transparent;
}

details[open] summary::-webkit-details-marker {
    background: url(arrowdown.svg);
}

dialog {
	border: none;
	border-left: 6px solid var(--color-pink-dark);
	border-radius: 1rem;
	box-shadow: 5px 5px 5px rgba( 0, 0, 0, .5 );
	color: var(--color-text);
	max-width: 25rem;
	padding: 1.5rem 2.5rem;
}

#open-modal {
	border-radius: 0.5rem;
	padding: 1rem;
}

dialog[open] {
	animation: dialog-pop 1s ease;
}

@keyframes dialog-pop {
	0% {
		opacity: 0;
		transform: scale(.1);
	}
	
	60% {
		transform: scale(1.1);
	}
	
	100% {
		opacity: 1;
		transform: scale(1);
	}
	
}

dialog::backdrop {
	animation: backdrop 1s ease-out;
}

@keyframes backdrop {
	0% {
		background-color: rgba(0,0,0, .3);
		opacity: 0;
		transform: translatey(-100vw);
	}
	
	100% {
		background-color: rgba(0,0,0, .1);
		transform: translatey(0);
	}
}